@font-face {
    font-family: "stellar";
    src: url(fonts/stellar.otf);
}

canvas {
    width: 2000px;
    height: 2000px;
    position: fixed;
    top: -25%;
    left: -10%;
    z-index: -1;
    background: black;


}

body {
    height: 5000px;
    font-family: "stellar", sans-serif;
    color: #f5f5f5
}

body a {
    text-decoration: inherit;
    color: inherit;
}


.sections {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 10%;
    min-height: 500px;
    height: 100vh;
    align-items: center;
}

.spread {
    padding: 20px;
    color: white;
    opacity: 0;
}

.spread p {
    font-size: 55px;
}

#splash .spread-animate {
    transition-delay: 0.2s;
}

.spread-animate {
    opacity: 1;
    transition: opacity 1s ease;
    transition-delay: 0.5s;
}


.sections ul {
    list-style: none;
    margin: 0;
    font-size: 55px;
    margin-top: 50px;
}

.sections ul li {
    padding: 20px;
}

.contact-logos {
    width: 65px;
    padding: 0 15px;
    margin-bottom: -3px;
    transform: scale(1);
    transition: transform 0.2s ease;
}

.contact-logos:hover{
    transform: scale(1.2);
    transition: transform 0.2s ease;
}

.details {
    display: flex;
    justify-content: center;
}

#gmail_logo{
    padding-top: 5px;
}

.hoverable:hover {
    color: #D2B48C;
    cursor: pointer;
}

@media screen and (max-width : 1200px) {
    .spread p {
        font-size: 45px;
    }

    .sections ul {
        font-size: 45px;
    }

    .contact-logos {
        width: 55px;
    }
}

@media screen and (max-width : 800px) {
    .spread p {
        font-size: 35px;
    }

    .sections ul {
        font-size: 35px;
    }

    .contact-logos {
        width: 45px;
    }
}

@media screen and (max-width : 600px) {
    .details{
        justify-content: flex-start;
    }
    
    .contact-logos{
        padding-left: 0;
    }
}
